{% extends "common/base.html.twig" %}
{% block title %}
	Shop
{% endblock %}
{% block body %}
	<h3>Catégories :</h3>
	<div class="container">
		<div class="row">
			{% for category in categories %}
				<div class="card text-center m-2" style="width: 18rem;">
					<img class="card-img-top" src="{{asset(category.img)}}" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">{{ category.name}}</h5>
						<p class="card-text">{{category.text}}</p>
						<a href="{{ path('shop_categ', {'category': category.id}) }}" class="btn btn-primary">Voir</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
